body {
    font-family: "Henny Penny", sans-serif;
}

h1 {
    font-family: "Mystery Quest", sans-serif;
}

p {
    font-family: "Love Ya Like A Sister", sans-serif;
}

.content {
    padding: 1rem;
}

ol.pokemons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
}

ol.pokemons li{
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    padding: 2rem 1rem;
    background-color: rgb(0, 160, 107);
    color: rgb(255, 255, 255);
    border-radius: 1rem;
    height: 80px;
}

ol.pokemons li img{
    max-width: 65%;
    height: 120%;
}