body {
    background-color: rgb(154 165 169);
}

h1 {
    font-family: "Mystery Quest", sans-serif;
    box-sizing: border-box;
}

p {
    font-family: "Love Ya Like A Sister", sans-serif;
    box-sizing: border-box;
}

.content {
    height: 100vh;
    width: 100vw;
    padding: 1rem;
    background-color: rgb(175 190 193);
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}