body {
    background-color: rgba(145, 200, 248, 0.555);
}

h1 {
    font-family: "Mystery Quest", sans-serif;
    box-sizing: border-box;
}

p {
    font-family: "Love Ya Like A Sister", sans-serif;
    box-sizing: border-box;
}

.content {
    padding: 1rem;
    background-color: rgb(145 200 248 / 4%);
    height: 100vh;
    width: 100vw;
}

@media screen and(min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}

.pokemons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
}

@media screen and(min-width: 576px) {
    .pokemons {
    grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and(min-width: 992px) {
    .pokemons {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.pokemon {
    display: flex;
    flex-direction: column;
    margin: 0.7rem 0.5rem;
    padding: 1rem 1rem;
    background-color: rgb(0, 0, 0);
    border-radius: 1rem;
}

.pokemon .number {
    color: rgba(2, 79, 110, 0.712);
    text-align: right;
    font-family: "Henny Penny", sans-serif;
    box-sizing: border-box;
    font-size: 0.625rem;
}

.pokemon .name {
    color: rgb(2, 68, 68);
    margin: 0.25 0;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: "Henny Penny", sans-serif;
    box-sizing: border-box;
}

.pokemon .detail .types .type {
    background-color: rgba(18, 116, 83, 0.555);
    color: rgb(255, 255, 255);
    margin: 0.25rem 0rem;
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
    font-size: 0.625rem;
    font-family: "Love Ya Like A Sister", sans-serif;
    box-sizing: border-box;
}

.pokemon .detail img {
    max-width: 100%;
    height: 100px;
    overflow: hidden; 
}